<h1>Editar Usuario</h1>


<form action="" method="post">


    Nome :<br>
    <input type="text" name="nome" id="nome" value = "{{user.nome}}"><br>


    email:<br>
    <input type="email" name="email" id="email" value="{{user.email}}"> <br>
    <input type="submit" value="Cadastrar">



</form>

<a href='/usuarios'>Clique aqui</a> para voltar a pagina de usuarios


{{>partials/footer}}