{{>partials/header}}

<a href="/cadastro">Adicionar Usuario </a>

<table border="4" width="100%">


    <tr>
        <th> ID </th>
        <th> NOME</th>
        <th> EMAIL </th>
        <th> AÇÕES </th>
    </tr>

    {{#users}}

    <tr>
        <td>{{id}}</td>
        <td>{{nome}}</td>
        <td>{{email}}</td>
    <td>
        <a href="/editar/{{id}}" onclick="return confirm('editar ?')"><img src="" alt=""></a>
        <a href="/excluir/{{id}}" onclick="return confirm('Tem certeza que deseja exluir?')">[ Excluir ]</a>
    </td>
</tr>

    {{/users}}




</table>





{{>partials/footer}}